/*
 * Import các file CSS theo thứ tự từ tổng quan đến chi tiết:
 * 1. Biến toàn cục
 * 2. Layout chính
 * 3. Các component theo thứ tự từ trên xuống dưới trong giao diện
 */
@import 'base/variables.css';
@import 'layouts/layout.css';
@import 'components/status/status.css';
@import 'components/controls/controls.css';
@import 'components/indicators/indicators.css';
@import 'components/pedals/pedals.css';
@import 'components/modes/modes.css';

/* 
 * RESET & BASE STYLES
 * Thiết lập các style cơ bản và reset cho toàn bộ trang
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

/* 
 * BODY STYLES
 * Thiết lập style chung cho body
 */
body {
  background: #000;
  color: var(--text-color);
}

/* 
 * FOOTER STYLES
 * Thiết lập style cho footer
 */
footer {
  background: #000;
  color: var(--text-color);
}