@import 'base/variables.css';
@import 'layouts/layout.css';
@import 'components/status/status.css';
@import 'components/controls/controls.css';
@import 'components/indicators/indicators.css';

/* Global reset và font chữ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

body {
  background: #000;
  color: var(--text-color);
}

footer {
  background: #000;
  color: var(--text-color);
}